{% extends '::base.html.twig' %}

{% block body %}

        <div class="container">
            <div class="login-container">
              <div id="output">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
              </div>
              <div class="avatar">
                <img src="{{ asset('bundles/planning/images/logo.png') }}" alt="Cfa Insta!" />
              </div>
              <div class="form-box">
                  
                {% block fos_user_content %}
                {% endblock fos_user_content %}
                  
              </div>
            </div>
        </div>

{% endblock body %}
