{% extends '::base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="login-container">
      <div id="output"></div>
      <div class="avatar">
        <img src="{{ asset('bundles/planning/images/logo.png') }}" alt="Cfa Insta!" />
      </div>
      <div class="form-box">
        <form action="" method="">
          <input name="user" type="text" placeholder="Adresse email">
          <input type="password" placeholder="Mot de passe">
          <button class="btn btn-info btn-block login" type="submit">Connexion</button>
        </form>
      </div>
    </div>

  </div>
{% endblock %}

{% block stylesheets %}
  <link type="text/css" href="{{ asset('bundles/planning/css/home.css') }}" rel="stylesheet" />
{% endblock %}