{% extends 'PlanningBundle::layout.html.twig' %}

{% block content %}

    <div class="box btn-box g16">
        <br>
        <br>
        <center>
            Page index
        </center>

    </div>
    
{% endblock %}
