{% extends 'PlanningBundle::layout.html.twig' %}

{% block localisation %}
    Tableau de bord
{% endblock %}

{% block ariane %}
    <span class="active"><i class="fa fa-home"></i><a href="">Home</a></span>/ Tableau de bord
{% endblock %}

{% block main_content %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio veritatis, dolores. Explicabo ut veritatis tempora assumenda harum tenetur dolor adipisci! Iure est dolor voluptates a porro praesentium nesciunt animi omnis.</div>
    <div>Doloribus ea nulla exercitationem rerum officia earum odio eum, quasi, error modi, corporis minus consequatur possimus quam accusantium ut ratione itaque, tempore non odit. Repudiandae, culpa soluta quisquam voluptatibus consectetur.</div>
    <div>Asperiores error ducimus, sint, quo optio dolor quaerat obcaecati repudiandae tenetur neque, itaque doloremque vel. Atque officiis, blanditiis? Sit architecto facilis, praesentium distinctio facere illum hic laborum nam animi ut.</div>
    <div>Ut aperiam iure beatae illo in optio minus exercitationem et laboriosam debitis iste non laudantium doloremque sit, repellendus cupiditate quo. Totam, iste enim autem. Modi temporibus id, accusantium consectetur commodi?</div>
    <div>Doloribus nihil iusto nulla, vero culpa omnis exercitationem delectus praesentium voluptas, quis provident harum laudantium eos tempore sapiente! Dolores doloribus saepe, magni pariatur ipsa similique est mollitia voluptate vitae quaerat.</div>
    <div>Omnis rerum eum ipsa at sed modi necessitatibus, voluptate quas voluptates laudantium similique ullam fuga sit deleniti hic maxime nesciunt temporibus. Incidunt ipsum aut nostrum quam alias porro aliquam, expedita.</div>
    <div>Nisi, eaque assumenda. Veniam eaque deserunt asperiores numquam, ratione sit harum eos, assumenda voluptatibus sint ducimus facere accusantium, necessitatibus neque reprehenderit, odio praesentium. Neque ullam, suscipit molestiae in, temporibus sapiente.</div>
    <div>Tempore adipisci, officiis. Voluptas eaque sit, maiores illum minus autem facere, eum consequatur debitis consectetur odit ipsam officiis vitae, asperiores qui excepturi natus neque placeat nobis nam veniam. Reprehenderit, unde.</div>
    <div>Sit dolorem suscipit cum tenetur voluptatem id, optio itaque deserunt quae assumenda alias porro quas est sapiente earum accusamus, deleniti iste eum, dolorum aperiam dignissimos. Odio quam corporis, error voluptas.</div>
    <div>Dolorem quo nihil odit minus nobis dolore, possimus hic, voluptas rerum illum harum qui vero. Quasi saepe esse similique quaerat, vel aspernatur blanditiis adipisci. Ex magni, quasi vitae nihil maiores.</div>
{% endblock main_content %}
