{% extends '::base.html.twig' %}

{% block body %}
  {{ include('PlanningBundle::navbar.html.twig') }} 

   <main>
        <div class="container-fluid">
            <div class="sidebar">
                <div class="sidebar_head">
                    <p>NAVIGATION</p>
                </div>

                <div class="sidebar_content">
                    <ul>
                        <li class="active"><a href=""><i class="fa fa-desktop"></i> Tableau de bord</a></li>
                        <li><a href=""><i class="fa fa-group"></i> Gestion des promos</a></li>
                        <li><a href=""><i class="fa fa-calendar"></i> Gestion des plannings</a></li>
                        <li><a href=""><i class="fa fa-cube"></i> Gestions des Salles</a></li>
                        <li><a href=""><i class="fa fa-home"></i> Gestion des Etablissements</a></li>
                        <li><a href=""><i class="fa fa-youtube-play"></i> Gestion des soutenances</a></li>
                    </ul>
                </div>
            </div>

            <div class="main right">
                <div class="main_head">
                    <div class="bull"></div>
                    <p class="location">
                        <i class="fa fa-terminal"></i>
                        {% block localisation %}
                        {% endblock %}
                    </p>
                    <p class="ariane text-right"> 
                        {% block ariane %}
                        {% endblock %}
                    </p>
                </div>
                <div class="main_content">
                    {% block main_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock body %}
