{% extends 'PlanningBundle::layout.html.twig' %}

{% block main_content %}

<form action="{{ path('planning_promo_edit',{ 'id': id }) }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>
    {% include "PlanningBundle:Promo:form.html.twig" %}
 </form>

{% endblock main_content %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
   